# Node / Package Managers
node_modules
.pnp
.pnp.*

# Build outputs
dist
.next
/out
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env / Secrets
.env
.env.*
!.env.example
*.pem
device/esp32-bme280/firmware/secrets.h

# System files
.DS_Store
.vscode

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Deployment
.vercel

# Testing
/coverage
