.container {
  max-width: 960px;
  /* margin: 0 auto; */
  /* padding: 2rem 1rem 2rem; */
}

.heading {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}

.intro {
  color: var(--color-text-secondary);
  line-height: 1.6;
  margin-bottom: 32px;
}

