.main {
  padding: 32px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto;
  margin-top: 32px;
  gap: 1rem;
}

@media (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
